@model School.Repository.View.StudentDtoPost
@{
    ViewBag.Title = "EditStudent";

}

<h2>EditStudent</h2>
<input id="Button1" type="button" class="
bs-glyphicon" value="button" />

<input id="Text1" type="text" />

<form>
    <div class="row" id="parent" name="myForm">

        <input id="id" type="hidden"  value="@Model.student.Id"    />

        <div class="col-md-6">

            <div class="form-group ">
                <label><b>Name</b></label>
                <input id="Name" type="text" name="Name" value="@Model.student.Name" class="form-control" />
                <label id="Namelb"></label>
            </div>

            <div class="form-group">

                <label><b>Father Name</b></label>

                <input id="FName" type="text" name="FName" value="@Model.student.FName" class="form-control" />
                <label id="FNamelb"></label>
            </div>

            <div class="form-group">

                <label><b>Email</b></label>

                <input id="email" type="text" name="email" value="@Model.student.Email" class="form-control" />
                <label id="emaillb"></label>
            </div>
            <div class="form-group">

                <label><b>Date of Birth</b></label>

                <input id="DOB" type="date"  name="DOB" value="@Model.student.Dob" class="form-control" />

            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">

                <label><b>Course</b></label>
                <select id="courseslct" class="form-control select22" multiple searchable="Search here..">
                    @foreach (var course in Model.AllCoursesList)
                    {
                        foreach (var stdcourse in Model.StudentCourses)
                        {
                            if (stdcourse.CourseId == course.CourseId)
                            {

                                <option value="@course.CourseId" class="select2" selected=true>@course.Name</option>
                            }
                          
                        }
                        <option value="@course.CourseId" class="select2">@course.Name</option>

                    }
                </select>


            </div>
            <div class="form-group">

                <label><b>Phone</b></label>
                <input id="phone" type="text" name="phone" value="@Model.student.Phone" class="form-control" />
                <label id="phonelb"></label>
            </div>

            <div class="form-group">
                <label><b>Password</b></label>

                <input id="Password" type="password" value="@Model.student.Password" class="form-control" />
                <label id="Passwordlb"></label>

            </div>
            <div class="form-group">


                <label><b>Confrim Password</b></label>

                <input id="ConfrimPassword" type="password" value="@Model.student.ConfirmPassword" class="form-control" />
                <label id="ConfrimPasswordlb"></label>

            </div>
            <div class="form-group">

                <button type="button" id="saveBtn" class="form-control btn btn-primary" value="Save"></button>
                <a href="@Url.Action("Index","Student")" type="button" class="btn ">Back to List</a>

            </div>
        </div>

    </div>


</form>
<script>
    $(document).ready(function(){
        $('#courseslct').select2();
        $('#saveBtn').click(function () {
                  var student = editStudent();
                  debugger;
                  if (validateStudentForm(student,$('#parent')))
                  {
                  
                      $.ajax({
                          type: "Post",
                          async: false,
                          url: '@Url.Action("EditStudent","Student")',
                          data: {
                              student: JSON.stringify(student)
                          },
                          success: function (data) {
                              if(data.success=true)
                              window.location.href = '@Url.Action("Index","Student",new { message="Successfully Edited Student"})';
                          },
                          error: function () {
                              alert("ajax failed");
                          }
                      });
                  }
        });

});
</script>
