@model List<School.Repository.View.StudentDtoPost>
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<body>

    <h1 style="margin-left:300px;">
        <b>All Student Records</b>
    </h1>
    <a href="@Url.Action("AddStudent","Student")" id="addNew" class="addRecord btn btn-primary glyphicon glyphicon-record">Add New Student</a>
    <div>
        <label><b id="message">@(!string.IsNullOrEmpty(ViewBag.message) ? ViewBag.message : "")</b></label>
    </div>
    <div>
        <table id="student">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Father Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date of Birth</th>
                    <th>Password</th>
                    <th>Courses</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="stdList">
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.student.Name</td>
                        <td>@student.student.FName</td>
                        <td>@student.student.Email</td>
                        <td>@student.student.Phone</td>
                        <td>@student.student.Dob</td>
                        <td>@student.student.Password</td>
                        <td>@student.CoursesCount</td>
                        <td>
                            <a class='editBtn btn btn-primary' href="@Url.Action("EditStudent","Student",new { id=@student.student.Id})">Edit</a>
                            <a style='margin-left:5px;' href="@Url.Action("DeleteStudent","Student",new { id=@student.student.Id})" class='deleteBtn btn btn-danger'>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="addStudentDiv">

    </div>
</body>
</html>



<script>
        $(document).ready(function () {

            $("#student").DataTable();
            debugger;
           // $("#messgae:contains(success)").parents('div').css("color:green;border:2px solid green");
            if ($("#messgae:contains(Success)")) {
                $("#messgae:contains(Success)").parents('div').css("color:green;border:2px solid green");
            } else {
                $('#messgae').parents('div').css("color:red;border:2px solid red");
            }
        });
</script>



